* {
    background-color: #D80404;
}

h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 35px;
    color: gold;
}

#newgame {
    background-color: white;
}

#title_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#container {
    display: flex;
    height: 65vh;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    margin: 10px;
}

