* {
    background-color: #D80404;
}

button {
    background-color: white;
}
#title_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    
}
#container {
    display: flex;
    height: 960px;
    width: 960px;
}

