* {
    background-color: #D80404;
}

h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 50px;
    color: gold;
}

button {
    background-color: white;
}
#title_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    
}
#container {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

